#
# General
#
TZ=America/Toronto
PUID=1000
PGID=1000

#
# Ports
#
BAZARR_PORT=6767
PLEX_PORT=32400

#
# Paths
#
CONFIG_DIR=~/.config
BASE_DIR=/mnt/usb-2000

DOWNLOAD_DIR=/mnt/usb-2000/downloads
TRANSCODE_DIR=/mnt/usb-2000/transcode
MEDIA_DIR=/mnt/usb-2000/media

MOVIES_DIR=/mnt/usb-2000/media/movies
TV_DIR=/mnt/usb-2000/media/tv
MUSIC_DIR=/mnt/usb-2000/media/music
